
# Lockscreen configuration
# set $screenlock 'swaylock --config /etc/swaylock/openSUSEway.conf'
set $screenlock 'swaylock --config /home/bg/.config/sway/local/sway_nob_lock.config'
#                                  /home/bg/.config/sway/local/sway_nob_lock.config
# set $screenlock_fromconfig 'swaylock --image $HOME/Pictures/retro_minimalist.png'
# Idle configuration
exec swayidle -w \
         timeout 900 $screenlock \
           timeout 960 'swaymsg "output * power off"' \
              resume 'swaymsg "output * power on"' \
         before-sleep $screenlock

bindsym $mod+Ctrl+p $screenlock
# exec swaylock \
# --color 000000

