
# Lockscreen configuration
set $screenlock 'swaylock --config /etc/swaylock/openSUSEway.conf'
# Idle configuration
exec swayidle -w \
         timeout 900 $screenlock \
         timeout 960 'swaymsg "output * power off"' \
              resume 'swaymsg "output * power on"' \
         before-sleep $screenlock

bindsym $mod+question $screenlock
# exec swaylock \
# --color 000000

